main {
  width: 80%;
  display: flex;
  margin: auto;
}

.left-container {
  width: 20%;
  border-right: 1px solid $line;

  .left-content {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 10px 50px;

    .logo {
      width: 32px;
      height: 32px;
      padding-left: 20px;
    }

    .nav_list {
      display: flex;
      flex-direction: column;
      gap: 25px;
      margin-bottom: 50px;

      .nav_list_items {
        position: relative;
        display: flex;
        align-items: center;
        gap: 15px;
        font-weight: 500;
        cursor: pointer;
        width: fit-content;

        &::after {
          position: absolute;
          display: block;
          content: "";
          width: 0%;
          height: 100%;
          border-radius: 50px;
          padding: 10px 20px;
          background-color: $twitter-gray-smooth-hover;
          opacity: 0;
          z-index: -1;
          transition: 0.2s ease-out;
        }

        &:hover::after {
          opacity: 1;
          width: 100%;
        }

        .nav_list_icon {
          width: 36px;
          height: 36px;
          padding-left: 20px;
        }
      }
    }
  }
}

.mobile-menu {
  display: none;
}

.mobile-message {
  display: none;
}

.mid-container {
  width: 50%;
  padding: 20px 0 50px 0;

  .top-content {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px 40px;

    .mobile-account {
      display: none;
    }

    .wrapper-top-tweet {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &::after {
        position: absolute;
        top: 0;
        display: block;
        content: "";
        background-color: #e6e6e6;
        width: 170%;
        height: 100%;
        opacity: 0;
        z-index: -1;
        border-radius: 100%;
        transition: 0.3s ease-out;
      }

      &:hover::after {
        opacity: 1;
      }
      .top-tweet {
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
    }
  }

  .post-tweet-container {
    width: 90%;
    margin: auto;
    .post-tweet-top-content {
      display: flex;
      gap: 20px;
      align-items: center;
      margin-top: 50px;
    }

    .post-tweet-bottom-content {
      display: flex;
      justify-content: space-between;

      .post-tweet-icons-container {
        display: flex;
        align-items: center;
        gap: 15px;

        .post-tweet-icon {
          width: 32px;
          height: 32px;
          cursor: pointer;
        }
      }
    }
  }

  .separation-line {
    background-color: $line;
    height: 1px;
    width: 100%;
    margin-top: 100px;
  }

  .tweet-container {
    padding: 100px 50px 0 50px;
    display: flex;
    flex-direction: column;
    gap: 100px;

    .top-tweet-content {
      display: flex;
      align-items: center;
      gap: 20px;

      .tweet-username {
        font-size: 20px;
        font-weight: 500;
      }
    }

    .tweet-content {
      display: flex;
      flex-direction: column;
      gap: 30px;
      width: 70%;
      margin: auto;

      .tweet-text {
        font-size: 18px;
        font-weight: 400;
      }

      .tweet-img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.right-container {
  width: 30%;
  border-left: 1px solid $line;

  .right-content {
    position: sticky;
    top: 0;
    padding: 10px 50px;

    .searchbar-container {
      position: relative;

      .search-icon {
        position: absolute;
        left: 5%;
        top: 30%;
        width: 18px;
        height: 18px;
      }

      .searchbar {
        padding: 15px;
        background-color: $twitter-gray-smooth;
        border: none;
        outline: none;
        border-radius: 50px;
        width: 100%;
        border: solid 1px $twitter-gray-smooth;

        &::placeholder {
          color: $twitter-gray;
          padding-left: 25px;
          transition: 0.3s ease-in-out;
        }

        &:focus {
          background-color: white;
          border: solid 1px $twitter-blue;
          &::placeholder {
            opacity: 0;
          }
        }
      }
    }

    .card {
      display: flex;
      flex-direction: column;
      gap: 25px;
      border-radius: 15px;
      background-color: $twitter-gray-smooth;
      margin-top: 50px;
      padding: 15px;

      .card-content {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 2;
        cursor: pointer;

        &::after {
          position: absolute;
          background-color: $twitter-gray-smooth-hover;
          cursor: pointer;
          opacity: 0;
          top: 0;
          display: block;
          content: "";
          width: 100%;
          height: 100%;
          transition: 0.3s ease-in-out;
          z-index: -1;
        }

        &:hover::after {
          opacity: 1;
        }

        .card-left-content {
          display: flex;
          flex-direction: column;
          gap: 3px;

          .card-tweets {
            color: $twitter-gray;
          }
        }

        .card-right-content {
          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
}
