@media screen and (max-width: 1459px) {
  .nav_list_menu {
    display: none;
  }
  .nav_list {
    align-items: flex-end;
  }
  .left-content {
    align-items: flex-end;
  }
  .btn-big {
    padding: 12px 15px;
    border-radius: 100%;
  }
  .btn-title {
    display: none;
  }
  .btn-icon {
    display: block;
  }
  .btn-big {
    margin-right: -25px;
  }
}
@media screen and (max-width: 1374px) {
  .post-tweet-bottom-content {
    margin-top: 25px;
    flex-direction: column;
    gap: 15px;
  }

  .post-tweet-icons-container {
    padding: 0;
  }

  button {
    margin: auto auto auto 0;
  }
}

@media screen and (max-width: 1299px) {
  main {
    width: 100%;
  }
  .right-container {
    display: none;
  }
  .mid-container {
    width: 85%;
    border-right: solid 1px #d8d8d8;
  }
  .left-container {
    width: 10%;
  }
}

@media screen and (max-width: 779px) {
  .mid-container .tweet-container {
    padding: 25px 25px 0 25px;
  }
  .mid-container {
    width: 100%;
    padding-top: 0;
  }
  .left-container {
    display: none;
  }
  .top-content {
    align-items: center;
  }
  .home {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 20px;
  }
  .mobile-menu {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7%;
    background-color: rgba(255, 255, 255, 1);
    border-top: solid 1px #d8d8d8;
  }
  .nav_list {
    display: flex;
    justify-content: space-around;
  }
  .mid-container .top-content .mobile-account {
    display: block;
    width: 48px;
  }
  .post-tweet-container,
  .separation-line {
    display: none;
  }
  .mobile-message {
    display: block;
    position: fixed;
    right: 10%;
    bottom: 15%;
  }
  .nav_list_icon {
    width: 24px;
  }
  .btn-big {
    padding: 10px;
  }
  .btn-icon {
    width: 24px;
  }
}

@media screen and (max-width: 499px) {
  .tweet-content {
    width: 100%;
  }
}
